body {
    background: #777;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
    overflow: auto;
    width: 960 px;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    margin: 1em auto;
    padding: 1em;
}

article {
    background: #777;
    color: #ebebeb;
    padding: 1em;
        overflow: auto;
}
article p:first-of-type {
    background: none;
    color: #ebebeb;
    padding: 0;
}

article h1, article p {
    padding: 1em; 
}

h1, p {
    background: #ebebeb;
    color: #777;
}


.wrap {
    margin: 1em auto;
    width: 960px;
}
.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
    section {
        margin: 0 auto;
        width: 495px;
    } 
        

    aside {
        flex-grow: 2;
        margin: 0 auto;
        margin-left: 1em;
    }