body, article {
    background: gray;
    font-family: sans-serif;
    color: white;
}

/* Wrap styling */
.wrap {
    margin: 2em auto;
    text-align: center;
    width: 90%;
        max-width: 1080px;
}

.wrap * {
    box-sizing: border-box;
    overflow: auto;
    margin: 1em auto;
    padding: 0.25em 1em;
    text-transform:lowercase;
}

/* container */
.container {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding: 0;
}
section.white-bg, .wrap aside {
    margin: 0;
    width: 49%;
}

/* coloring */
header, nav, aside, footer, .white-bg {
    background: white;
    color: gray;
}

/* sizing */
.large {
    font-size: 2em;
}